@import "../main.scss";

.home {
    position: absolute;
    background-color: $turquoise;
    margin: 4.286vh 4.948vw;
    border: solid black 0px;
    border-radius: 38px;
    padding-bottom: 10px;

    .main-img {
      position: relative;
      width: 90vw;
      height: 100vh;
    }
    .featured-title {
        position: relative;
        margin-top: -30vh;
        text-align: right;
        padding: 10px;
        p {
            font-size: 200%;
        }
    }
    .list {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        img {
            width: 200px;
            height: 200px;
            border-radius: 20px;
            margin: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}