@import "../main.scss";

.login {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $turquoise;
  border-radius: 38px;
  width: 61.198vw;
  height: auto;
  margin: 0 auto;
  padding: 3.143vh 5.556vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .icon {
    font-size: 48px;
    position: absolute;
    top: 2.857vh;
    left: 1.736vw;
  }

  a:link, a:focus, a:visited {
    color: black;
    text-decoration: none;
  }

  // .avatar {
  //   width: 11px;
  //   height: 11px;
  //   border: solid black 0px;
  //   border-radius: 50%;
  //   margin: 0 auto;
  // }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $text-green;

    // .avatars {
    //   display: flex;
    //   flex-direction: row;
    // }

    input {
      background-color: $sea-green;
      border-radius: 50px;
      border: solid black 0px;
      margin: 1.714vh auto;
      padding: 2.857vh 2vw;
      min-width: 50.174vw;
    }
    
    input[type="text"], input[type="password"] {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    input[type="radio"]:checked{
      opacity: 100;
    }

    input[type="radio"] {
      opacity: 0;
    }

    input[type="submit"] {
      padding: 1vh 2.257vw;
      min-width: 0;
      background-color: $yellow;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    }
  }
}