@import "../main.scss";


.navbar {
  background-color: $sea-green;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;
  border-radius: 20px;
  height: auto;

  h3 {
    margin-left: 20px;
  }
  .right {
    text-align: right;
    display: flex;
    flex-direction: row;
    margin-left: 40%;

    p {
      margin-left: 10px;
    }

    .searchbar {
      position: relative;
      margin-top: 15px;
      margin-left: 10px;
    }
  }
}


.profile {
  background-color: $turquoise;
  border-radius: 38px;
  width: 95vw;
  height: 50vw;
  margin: 0 auto;

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;

    .header, .bio, .col-container {
      background-color: $sea-green;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      border-radius: 10%;

    }
    
    .col1 {
      margin-left:30px;
      margin-top: 20px;
      width: 40%;
    }
      .prof {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        margin-left:45px;
        margin-top: 20px;
        margin-bottom: 10px;
      }
      .header {
        border-radius: 50px;
        margin-bottom: 10px;
      }
      p {
        margin: 10px;
        border-radius: 40%;      
      }
  .col2 {
    margin-left:30px;
    margin-top: 50px;
    width: 40%;
  }
    
  .col3 {
    margin-left:30px;
    margin-top: 50px;
    width: 40%;
  }
  .col4 {
    margin-left: 30px;
    margin-right:30px;
    margin-top: 50px;
    width: 40%;
    
  }
    img {
      margin: 10px;
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      border-radius: 20px;
      width: 90%;

    }
  }
}

